body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.app .app-container {
  border: 1px solid red;
}
.jumbotron {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: linear-gradient(#69C0EB, #C7E1E9);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.jumbotron .scenery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  align-items: flex-start;
}
.jumbotron .scenery .mountains {
  display: flex;
  justify-content: center;
  z-index: 5;
  margin-top: 160px;
}
.jumbotron .scenery .mountains .mtns_left {
  width: 990px;
  height: 564px;
  padding-right: 170px;
}
.jumbotron .scenery .mountains .mtns_right {
  width: 990px;
  height: 564px;
  padding-left: 170px;
}
.jumbotron .scenery .wave {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
}
.jumbotron .scenery .lt {
  top: 690px;
}
.jumbotron .scenery .med {
  top: 700px;
  padding-left: 25px;
}
.jumbotron .scenery .dark {
  top: 710px;
  padding-right: 25px;
}
.jumbotron .scenery .grass {
  width: 100%;
  height: 300px;
  background-color: #85AB36;
  z-index: 1;
  position: relative;
}
.jumbotron .scenery .grass .lake {
  width: 340px;
  position: absolute;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.about-me {
  width: 100%;
  height: 900px;
  border: 1px solid red;
  background-color: aqua;
}
