.jumbotron {
    min-height: 900px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: linear-gradient(#69C0EB,#C7E1E9);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .scenery {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        align-items: flex-start;

        .air {
            position: absolute;
            width: 100%;

            .sun {
                height: 100px;
                margin-top: 40px;
                margin-left: 40px;
            }

            .clouds {

                .cloud {
                    height: 100px;
                }
            }
        }

        .mountains {
            display: flex;
            justify-content: center;
            z-index: 1;
            margin-top: 160px;

            .mtns_left {
                width: 990px;
                height: 594px;
                padding-right: 170px;
            }
    
            .mtns_right {
                width: 990px;
                height: 594px;
                padding-left: 170px;
            }
        }

        .wave {
            position: absolute;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            width: 550px;        }

        .lt {
            top: 690px;
        }

        .med {
            top: 700px;
            padding-left: 25px;
        }

        .dark {
            top: 710px;
            padding-right: 25px;
        }

        .grass {
            width: 100%;
            height: 340px;
            background-color: #85AB36;
            position: absolute;
            display: flex;
            justify-content: center;
            margin-top: 722px;

            .lake {
                width: 346px;
                height: 96px;
                margin-top: -1px;
                z-index: 2;
            }
        }

        .ground {
            position: absolute;
            top: 755px;
            height: 270px;
        }
    } 
}
